.box{
    border-style: solid;
    border-width: 1px;
    margin-top:2%;
    max-height: 10%;
    max-width: 30%;
    margin-left: 34%;
    h3{
    text-align: center;
    }
    input{
        padding-top:1%;
        margin-top: 1%;
        margin-bottom: 4%;
        padding-bottom:1% ;
    }
}