<div class="container">
    <div *ngIf="userBooks.length > 0" style="margin-bottom: 30px;">
        <h1 class="title margin-top">Your Books</h1>
        <progress *ngIf="!!loading" class="progress is-small is-primary" max="100">15%</progress>
        <div class="row">
            <app-book *ngFor="let userBook of userBooks" [book]="userBook.books" [rating]="userBook.rating"
                      [userBookProgress]="userBook" class="col-md-3"></app-book>
        </div>
    </div>
    <h1 class="title margin-top">Available Books</h1>
    <progress *ngIf="!!loading" class="progress is-small is-primary" max="100">15%</progress>
    <div class="row">
        <h6 *ngIf="books.length === 0" class="subtitle is-6">No Books Available</h6>
        <app-book *ngFor="let book of books" [book]="book" [rating]="book.rating" class="col-md-3"></app-book>
    </div>
    <div (click)="loadBooks()"
         *ngIf="bookCount > 0 && filter.skip+ filter.limit < bookCount"
         style="margin-top: 30px; margin-bottom: 30px"
    >
        <div class="notification is-primary" style="text-align: center">
            <a>Load More ↓</a>
        </div>
    </div>
</div>
