<nav aria-label="main navigation" class="navbar" role="navigation" style="box-shadow: 10px 10px 10px #80808080">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']" >
            <img height="28" src="/assets/images/logo.png" width="28">
        </a>

        <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbar-menu"
           role="button" [ngClass]="{active: navExpanded}" (click)="navExpanded = !navExpanded">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbar-menu" [ngStyle]="{display: navExpanded? 'block': none}">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/"  routerLinkActive="router-link-active">
                Dashboard
            </a>

            <a *ngIf="isAuthenticated" class="navbar-item" routerLink="/editor"  routerLinkActive="router-link-active">
                New Book
            </a>

        </div>

        <div *ngIf="!isAuthenticated" class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" routerLink="/auth/signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-info"
                        routerLink="/auth/login"
                    >
                        Log in
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="isAuthenticated" class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{user.firstName}}
                </a>

                <div class="navbar-dropdown">
                    <a (click)="logout()" class="navbar-item">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
