<div class="box">
    <h3 class="subtitle is-3">
        Login
    </h3> 

  <div class="container">
    <label for="uname" class="subtitle is-6"><b>Username</b></label>
    <input class="input is-info" type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label for="psw" class="subtitle is-6"><b>Password</b></label>
    <input class="input is-info" type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <button class="button is-light" type="submit">Login</button>
    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <br>
  </div>
</div>
